body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #EEEEEE;
}

.form-signup {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup .form-signup-heading {
  margin-bottom: 10px;
  color: #444444;
}

.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input[type="email"] {
  height: auto;
  padding: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {
  height: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
